<!--REPLY-->
<div class="reply mt">
    <% if (user) { %>
        <h3>Leave a comment</h3>
        <form action="/stories/<%= story.id %>" method="POST">
            <textarea name="commentText" id="commentText"></textarea>
            <button type="submit" class="button primary">Submit</button>
        </form>
    <% } else { %>
        <p>You must <a href="/auth/google">sign in with google</a> to reply.</p>
    <% } %>
</div>
