
<% if (typeof errors !== 'undefined') { %>
    <div class="flash-messages grid-container">
        <% errors.forEach((error) => { %>
            <div class="callout alert" data-closable>
                <span><%= error.msg %></span>
                <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <% }); %>
    </div>
<% } %>
