

<div class="callout primary">
    <div class="grid-container">
    <h1>Welcome</h1>
    <p>On this site you can write ideas for stories.</p>
    <p>The ideas can be public so everyone can view them, private so they're only visible to you, or unlisted so only people with the link can view them.</p>
    <div class="button-container">
      <a href="/stories" class="button primary">View Stories</a>
      {{> 'google-login-button' }}
    </div>
  </div>
</div>
