<div class="grid-container">
  <h1>Stories</h1>
  <div class="stories">
    <div class="story callout primary">
      <h3 class="title">Story title</h3>
      <p class="metadata">By <a href="#">Author Name</a></p>
      <p class="body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad alias aliquid, deleniti dolore eligendi eos error id ipsum magni, necessitatibus omnis provident recusandae repellat ullam. Alias minima optio voluptatibus.</p>
      <a href="" class="button primary">Read More</a>
    </div>
  </div>
</div>