<%- include('../partials/header'); %>

<div class="grid-container">
  <h1>Stories</h1>
  <p>Public stories written by users.</p>
  <%- include('../partials/stories-listing') %>
</div>

<%- include('../partials/footer'); %>
