<%- include('../partials/header'); %>

<div class="grid-container">
  <div class="callout primary" id="story-form-cont">
    <h1>New Story</h1>
    <form action="/stories" method="POST">
        <%- include('../partials/story-form') %>
    </form>
  </div>
</div>

<%- include('../partials/story-form-scripts'); %>

<%- include('../partials/footer'); %>
