<div class="grid-container">
  <div class="story callout primary">
    <h1>Add Story</h1>
    <form action="/stories" method="POST">
      <div>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title"
            value="{{#if story}}{{story.title}}{{/if}}"
        >
      </div>
      <div>
        <label for="privacy">Status:</label>
        <select name="privacy" id="privacy">
          <!--If story.privacy === PUBLIC || story.privacy === undefined, add selected-->
          <option value="PUBLIC"
            {{#if story}}
              {{#if story.privacy}}
                {{#ifEqualsStr story.privacy 'PUBLIC'}}
                  selected
                {{/ifEqualsStr}}
              {{else}}
                selected
              {{/if}}
            {{/if}}
          >Public</option>
          <option value="PRIVATE"
                  {{#if story}}
                    {{#ifEqualsStr story.privacy 'PRIVATE'}}
                      selected
                    {{/ifEqualsStr}}
                  {{/if}}
          >Private</option>
          <option value="UNLISTED"
            {{#if story}}
              {{#ifEqualsStr story.privacy 'UNLISTED'}}
                  selected
              {{/ifEqualsStr}}
            {{/if}}
          >Unlisted</option>
        </select>
      </div>
      <div>
        <label for="allowComments">Allow Comments:
        {{#if story}}
            <input type="checkbox" name="allowComments" id="allowComments" value="true" {{#if story.allowComments}}checked{{/if}}>
        {{else}}
          <input type="checkbox" name="allowComments" id="allowComments" value="true">
        {{/if}}
        </label>
      </div>
      <div>
        <label for="body">Body:</label>
        <textarea name="body" id="body" rows="3">{{#if story}}{{#if story.body}}{{story.body}}{{/if}}{{/if}}</textarea>
      </div>
      <div>
          <button type="submit" class="button primary">Submit</button>
      </div>
    </form>
  </div>
</div>

<script src="https://cdn.ckeditor.com/ckeditor5/10.0.1/classic/ckeditor.js"></script>

<script>
  ClassicEditor
      .create( document.querySelector('#body'), {
          toolbar: ['bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote'],
          removePlugins: ['Heading']
      })
      .catch( error => console.error(error))
</script>