.top-bar {
  .menu {
    align-items: center;
    &.left {
      @media screen and (max-width: 639px) {
        display: none;
      }
    }
  }
  .button-google {
    padding: 0;
    img {
      max-width: 140px;
    }
  }
}

.button-google {
  img {
    max-width: 200px;
  }
}

.button-container {
  display: flex;
  align-items: center;
  > * {
    margin-bottom: 0;
  }
  .button {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
  .form {
    margin: 0;
  }
}

footer {
  padding: 2rem 0;
  background-color: #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  p {
    margin-bottom: 0;
  }
}

html {
  height: 100%;
}

body {
  display: grid;
  min-height: 100%;
  grid-template-rows: 1fr auto;
}
