.top-bar {
  .menu {
    align-items: center;
    &.left {
      @media screen and (max-width: 639px) {
        display: none;
      }
    }
  }
  .button-google {
    padding: 0;
    img {
      max-width: 140px;
    }
  }
}

.button-google {
  img {
    max-width: 200px;
  }
}

.button-container {
  display: flex;
  align-items: center;
  > * {
    margin-bottom: 0;
  }
}
